@import 'bootstrap/dist/css/bootstrap.css';

/**
 * Scrollbar
 * -------------------------------------------------------------------------- 
 */
@media (min-width: 960px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #a0a0a0;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

/**
 * Colors
 * -------------------------------------------------------------------------- 
 */
:root {
  --vp-c-bg-1: #f0f0f0;
  --vp-c-brand-1: #8b4fda;
  --vp-c-brand-2: #5c12a1;
  --vp-c-brand-lighter: #9499ff;
  --vp-c-brand-lightest: #bcc0ff;
  --vp-c-brand-dark: #535bf2;
  --vp-c-brand-darker: #454ce1;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
  --vp-c-mute: rgba(239, 239, 239, 0.8);
  --vp-c-yellow-soft: rgba(234, 179, 8, 0.1);
  --vp-code-color: var(--bs-code-color);
  --vp-code-block-bg: #faf9f9;
  --vp-badge-tip-text: #8b4fda;
}

/**
 * Z-Indexes
 * -------------------------------------------------------------------------- 
 */
:root {
  // --vp-z-index-footer: 10;
  --vp-z-index-layout-top: 1040;
  --vp-z-index-local-nav: 1000;
  --vp-z-index-nav: 1001;
  --vp-z-index-backdrop: 1050;
  --vp-z-index-sidebar: 1060;

  @media (min-width: 960px) {
    --vp-z-index-local-nav: 1020;
    --vp-z-index-nav: 1030;
    --vp-z-index-sidebar: 1025;
  }
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- 
 */
:root {
  --vp-button-brand-border: var(--vp-c-brand-2);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-2);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: var(--vp-c-brand-2);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- 
 */
:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe 30%, #41d1ff);
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- 
 */
:root {
  --vp-code-line-height: 1.4;
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-dimm);
  --vp-custom-block-warning-border: #b5a775;
  --vp-custom-block-warning-code-bg: var(--vp-c-yellow-soft);
  --vp-custom-block-danger-code-bg: var(--vp-c-brand-dimm);
  --vp-custom-block-info-border: var(--vp-c-default-1);
  --vp-custom-block-info-code-bg: var(--vp-code-bg);
  --vp-custom-block-details-code-bg: var(--vp-code-bg);
  --doc-text-code-dt: #f28f64;
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- 
 */
.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

/**
 * Overridden styles
 * -------------------------------------------------------------------------- 
 */
.small {
  font-size: 81%;
}

.vp-doc {
  h1 {
    font-size: calc(1.75rem + 1.15vw);
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 32px;

    @media (min-width: 992px) {
      font-size: calc(1.875rem + 1.35vw);
    }
  }

  h2 {
    font-size: calc(1.325rem + 0.9vw);
    font-weight: 500;
  }

  h3 {
    font-size: calc(0.89rem + 0.9vw);

    @media (min-width: 480px) {
      font-weight: 500;
    }

    @media (min-width: 1080px) {
      font-weight: 400;
    }
  }

  h4 {
    font-size: 21px;
  }

  .lead {
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.5;

    > p {
      line-height: 1.5;

      > a {
        font-weight: inherit;
      }

      > strong,
      > b {
        font-weight: 500;
      }
    }
  }

  a {
    text-decoration: underline dotted;
    text-underline-offset: 4px;

    &:hover {
      font-weight: 500;

      &.nav-link {
        text-decoration: none;
      }
    }
  }

  th {
    background-color: var(--vp-c-bg-1);
  }

  &._sponsor {
    a.btn {
      --bs-btn-hover-color: var(--vp-c-brand-2);
      text-decoration: none;

      &:hover {
        color: var(--bs-btn-hover-color);
      }
    }
  }

  .custom-block {
    > .custom-block-title {
      display: flex;
      align-items: center;
    }

    &.info,
    &.tip,
    &.warning {
      border-left-width: 5px;
    }

    a {
      text-decoration: underline dotted;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .list-group {
    --bs-list-group-bg: rgb(242, 245, 248);
    --bs-list-group-action-hover-bg: rgb(218, 223, 229);
    --bs-list-group-border-radius: 0.5rem;
    --bs-list-group-item-padding-y: 0.75rem;

    > .list-group-item-action {
      color: var(--bs-list-group-action-color);
      font-size: 15px;
      font-weight: normal;
      text-decoration: none;

      > h5 {
        color: var(--vp-c-text-1);
        font-size: 1.125rem;
        font-weight: 500;
      }

      &:hover {
        color: var(--bs-list-group-action-hover-color);
      }

      &:active {
        color: var(--bs-list-group-action-active-color);
      }
    }
  }

  .list-group-item {
    > .list-group {
      --bs-list-group-bg: #fff;
    }
  }

  .md-tabs {
    .nav-item {
      text-decoration: none;
    }
  }
}

.doc-api-reference {
  margin: 3rem -1.5rem 0;

  &.md-tabs {
    --md-tabs-content-padding: 0;

    .tab-pane {
      width: 100%;
    }
  }

  .doc-table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;

    > table {
      display: table;
      width: 100%;
      margin-bottom: 8px;
    }

    a {
      font-weight: 400;
    }
  }

  .doc-table-props,
  .doc-table-3cols,
  .doc-table-2cols {
    .badge {
      --bs-badge-border-radius: 0.275rem;
    }

    > table {
      td {
        &:first-child {
          white-space: nowrap;
        }
      }

      th,
      td {
        &:last-child {
          min-width: 280px;
        }
      }
    }
  }

  .doc-table-props {
    > table {
      td {
        &:nth-child(3) {
          white-space: nowrap;
        }

        &:nth-child(2),
        &:nth-child(3) {
          > code {
            --vp-code-color: var(--doc-text-code-dt);
            background-color: transparent;
          }
        }
      }
    }
  }

  .doc-table-3cols {
    > table {
      td {
        &:nth-child(2) {
          white-space: nowrap;

          > code {
            --vp-code-color: var(--doc-text-code-dt);
            background-color: transparent;
          }
        }
      }
    }
  }

  @media (min-width: 590px) {
    margin: 3rem 0 0;

    > .nav {
      border-radius: var(--bs-border-radius-lg);
    }
  }
}

.VPSidebar {
  &.open {
    .nav {
      display: block;
    }
  }
}

.VPDocAsideOutline {
  ol,
  ul {
    padding-left: 0;
  }
}

.NotFound {
  .link {
    text-decoration: none;

    &:hover {
      background-color: var(--vp-c-brand-dimm);
      color: var(--vp-c-brand-darker);
      border-color: var(--vp-c-brand-darker);
    }
  }
}

.dark {
  --vp-c-bg: #252529;
  --vp-c-bg-soft: #212121;
  --vp-c-bg-1: #1f1f1f;
  --vp-c-brand-1: #70d99e;
  --vp-c-brand-2: #38ab6a; // #b052b0;
  --vp-c-brand-lighter: #{lighten(#621d62, 45%)};
  --vp-c-mute: #313136;
  --vp-badge-tip-text: #be92f7;
  --vp-button-brand-bg: #880e4f;
  --vp-button-brand-border: #6d124d;
  --vp-button-brand-hover-bg: #b11166;
  --vp-button-brand-hover-border: #b11166;
  --vp-button-alt-text: #{darken(#fff, 25%)};
  --vp-custom-block-tip-border: var(--vp-c-green-3);
  --vp-custom-block-tip-text: #55d8ad;
  --vp-custom-block-tip-bg: var(--vp-c-green-soft);
  --vp-custom-block-tip-code-bg: rgba(16, 185, 129, 0.1);
  --vp-custom-block-warning-border: #807346;
  --vp-custom-block-warning-code-bg: var(--vp-c-yellow-soft);
  --vp-custom-block-danger-border: var(--vp-c-red-3);
  --vp-custom-block-danger-code-bg: rgba(244, 63, 94, 0.1);
  --vp-code-color: #94faf7; // #fefebb;
  --vp-code-block-bg: #161618;
  --doc-example-border-color: #484848;
  --doc-example-toolbar-bg: #232427;
  --doc-example-content-bg: #212227;

  @media (min-width: 960px) {
    ::-webkit-scrollbar-track {
      background: #3a3c46;
    }

    ::-webkit-scrollbar-thumb {
      background: #62636a;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #9ca0ae;
    }
  }

  .NotFound {
    .link {
      &:hover {
        color: var(--vp-c-brand-lighter);
        border-color: var(--vp-c-brand-lighter);
      }
    }
  }

  .vp-doc {
    .badge.bg-info {
      background-color: #3f51b5 !important;
    }

    .list-group {
      --bs-list-group-color: wheat;
      --bs-list-group-action-color: var(--vp-c-text-2);
      --bs-list-group-action-active-color: var(--vp-c-text-1);
      --bs-list-group-action-hover-color: var(--vp-c-text-1);
      --bs-list-group-action-hover-bg: rgba(30, 30, 34, 0.8);
      --bs-list-group-action-active-bg: #151515;
      --bs-list-group-border-color: rgba(160, 166, 179, 0.125);
      --bs-list-group-bg: rgba(51, 53, 61, 0.75);
    }

    .list-group-item {
      > .list-group {
        --bs-list-group-bg: rgba(67, 70, 80, 0.6);
      }
    }

    .custom-block {
      a {
        text-decoration: underline dotted;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (min-width: 960px) {
  .light-mode {
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
      background: #a0a0a0;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}

body {
  background-color: var(--vp-c-bg);
  color: var(--vp-c-text-1);
  font-family: var(--vp-font-family-base);
}

.VPDoc,
.VPDocFooter,
.VPHome,
.VPNavBar,
.VPSidebarItem {
  .container {
    --bs-gutter-x: 0;
  }
}

.VPDoc,
.VPLocalNavOutlineDropdown {
  .outline-link,
  .top-link {
    text-decoration: none;
  }
}

.VPNavScreen {
  .VPNavScreenMenuLink {
    text-decoration: none;
  }
}

.VPDocFooter,
.VPNavBar,
.VPSidebarItem {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  .text {
    margin-bottom: 0;
  }
}

#app {
  --doc-custom-text-1: rgba(255, 255, 245, 0.86);
  --doc-custom-text-2: rgba(235, 235, 245, 0.6);

  .VPHomeHero {
    .text {
      font-weight: 500;
      color: var(--doc-custom-text-1);
    }

    .tagline {
      color: var(--doc-custom-text-2);
    }
  }

  .VPDoc {
    &.has-sidebar {
      overflow-x: hidden;
    }
  }

  .VPFooter {
    .message,
    .copyright {
      color: var(--doc-custom-text-2);
      font-weight: 300;
      margin-bottom: 0;
    }
  }

  .VPSidebarItem {
    &.collapsible:not(.has-active) {
      > .item {
        > .text {
          color: var(--vp-c-text-2);
        }

        &:hover {
          > .text {
            color: var(--vp-c-brand-lighter);
          }
        }
      }
    }

    &:not(.is-active) {
      > .item {
        > .link {
          &:hover {
            > .text {
              color: var(--vp-c-brand-lighter);
            }
          }
        }
      }
    }
  }

  .VPBadge {
    font-weight: 500;
  }
}

/**
 * Independent styles, not themeable
 * -------------------------------------------------------------------------- 
 */
.VPHome {
  .VPButton {
    &.medium {
      border-radius: 25px;
      font-size: 16px;
      font-weight: 500;
      line-height: 46px;
      padding: 0 24px;
      text-decoration: none;
    }
  }

  .VPFeature {
    background-color: #2e1848;
    border-color: #2e1848;
    position: relative;

    .title {
      color: var(--doc-custom-text-1);
      font-size: 18px;
    }

    .details {
      color: var(--doc-custom-text-2);
      margin-bottom: 0;

      a {
        color: inherit;
      }
    }

    &:hover {
      position: relative;

      &:before {
        background: linear-gradient(45deg, #4785fe, #f864bd) border-box;
        border: 2px solid transparent;
        border-radius: 12px;
        content: '';
        inset: 0;
        -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        // mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        // mask-composite: destination-out;
        position: absolute;
      }
    }
  }
}

.vpdoc-home {
  --vp-c-bg: #1e1134;
  --vp-c-brand-1: #ca25ca;

  .VPNavBar {
    --vp-nav-bg-color: #1a102c;
  }

  .VPFooter {
    --vp-c-bg: #1a102c;
    --vp-c-gutter: #0e0817;
  }

  .sponsors {
    margin-top: 4rem;

    .btn {
      color: var(--bs-btn-color);
      text-decoration: none;

      &:hover {
        color: var(--bs-btn-hover-color);
      }
    }

    .btn-outline-orange {
      --bs-btn-font-weight: 400;
      --bs-btn-active-bg: rgba(255, 157, 13, 0.75);
      --bs-btn-active-color: white;
      --bs-btn-hover-bg: rgba(251, 166, 39, 0.7);
      --bs-btn-hover-color: white; // #f7b149;
    }
  }
}
