@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";

// hr {
//   margin: $hr-margin-y 0;
//   color: $hr-color; // 1
//   border: 0;
//   border-top: $hr-border-width solid $hr-border-color;
//   opacity: $hr-opacity;
// }

// Typography
%heading {
  font-family: $headings-font-family;
  font-style: $headings-font-style;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  margin-top: 0;
  margin-bottom: .5rem;
}

.doc-example-container {
  > .doc-block-content {
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    
    h1, .h1 {
      @extend %heading;
      @include font-size($h1-font-size);
    }
  
    h2, .h2 {
      @extend %heading;
      @include font-size($h2-font-size);
      border-top: 0;
      padding-top: 0;
    }
  
    h3, .h3 {
      @extend %heading;
      @include font-size($h3-font-size);
    }
  
    h4, .h4 {
      @extend %heading;
      @include font-size($h4-font-size);
    }
  
    h5, .h5 {
      @extend %heading;
      @include font-size($h5-font-size);
    }
  
    h6, .h6 {
      @extend %heading;
      @include font-size($h6-font-size);
    }

    @include media-breakpoint-up(md) {
      .rounded-md-3 {
        @include border-radius(var(--#{$prefix}border-radius-lg))
      }
    }
    
  }
}
