@use 'vue-mdbootstrap/scss/variables' as vars;

.vp-doc {
  th {
    background-color: var(--vp-c-bg-1);
  }

  .custom-block {
    &:not(.github-alert) {
      &.info,
      &.tip,
      &.danger,
      &.details,
      &.warning {
        border-left-width: 5px;
      }
    }

    > .custom-block-title {
      display: flex;
      align-items: center;
    }

    a {
      text-decoration: underline dotted;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .doc-api {
    ul > li > code:nth-child(1) {
      color: oklch(64.822% 0.17993 45.857);
    }
  }
}

.doc-api-reference {
  margin: 3rem -1.5rem 0;

  &.md-tabs {
    --md-tab-content-padding: 0;
    --md-tab-item-color: oklch(0.3 0 0 / 0.6);
    --md-tab-item-active-color: oklch(0.19 0 0);
    --md-tab-item-hover-color: var(--vp-c-brand);
    --md-tab-item-disabled-color: oklch(0.21 0 0 / 0.3);

    --md-tab-md3-bg-color: oklch(0.87 0.01 238.31);
    --md-tab-md3-indicator-active-color: var(--vp-c-brand-2); // oklch(0.19 0 0);
    --md-tab-md3-indicator-border: 4px;
    --md-tab-md3-indicator-radius: 6px;
    --md-tab-md3-margin-start: 0.75rem;
    --md-tab-md3-padding: 1.25rem 1.25rem 1rem;

    .tab-sliding {
      border-bottom: thin solid var(--border-translucent);
    }
  }

  > .md-tabs-md3 {
    background-color: var(--md-tab-md3-bg-color);

    .tab-item-link {
      color: var(--#{vars.$prefix}tab-item-color);
      background-color: transparent;
      border: 0 solid transparent;
      position: relative;
      transition: vars.$transition-default;

      > .md-ripple {
        padding: var(--md-tab-md3-padding);
      }

      &:hover {
        color: var(--#{vars.$prefix}tab-item-hover-color);
      }

      &.active {
        color: var(--#{vars.$prefix}tab-item-active-color);
      }

      &.disabled {
        color: var(--#{vars.$prefix}tab-item-disabled-color);
      }
    }

    &.md-tab-top {
      box-shadow: var(--md-tab-placement-top-shadow);

      .tab-item-link {
        &:before {
          content: '';
          border-top-left-radius: var(--md-tab-md3-indicator-radius);
          border-top-right-radius: var(--md-tab-md3-indicator-radius);
          left: 0.75rem;
          right: 0.75rem;
          bottom: -1px;
          position: absolute;
          height: var(--md-tab-md3-indicator-border);
        }

        &.active {
          &:before {
            background-color: var(--md-tab-md3-indicator-active-color);
          }
        }
      }
    }

    @media (min-width: 640px) {
      &.md-tab-top {
        .tab-item-link:first-child {
          margin-left: var(--md-tab-md3-margin-start);
        }
      }
    }
  }

  .md-badge {
    font-size: 0.7rem;
  }

  .doc-table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;

    > table {
      display: table;
      width: 100%;
      margin-bottom: 8px;
    }

    a {
      font-weight: 400;
    }
  }

  .doc-table-props,
  .doc-table-3cols,
  .doc-table-2cols {
    > table {
      td {
        &:first-child {
          white-space: nowrap;
        }
      }

      th,
      td {
        &:last-child {
          min-width: 280px;
        }
      }
    }
  }

  .doc-table-props {
    > table {
      td {
        &:nth-child(3) {
          white-space: nowrap;
        }

        &:nth-child(2),
        &:nth-child(3) {
          > code {
            --vp-code-color: var(--doc-text-code-dt);
            background-color: transparent;
          }
        }
      }
    }
  }

  .doc-table-3cols {
    > table {
      td {
        &:nth-child(2) {
          white-space: nowrap;

          > code {
            --vp-code-color: var(--doc-text-code-dt);
            background-color: transparent;
          }
        }
      }
    }
  }

  .doc-table-2cols {
    > table {
      td {
        &:first-child {
          > code {
            --vp-code-color: var(--doc-text-code-dt);
            background-color: transparent;
          }
        }
      }
    }
  }

  @media (min-width: 590px) {
    margin: 3rem 0 0;

    > .md-tab-items {
      border-radius: var(--md-radius);
    }
  }
}

.dark {
  .vp-doc {
    .doc-api {
      ul > li > code:nth-child(1) {
        color: oklch(81.113% 0.12418 55.065);
      }
    }
  }

  .doc-api-reference {
    &.md-tabs {
      --md-tab-item-color: oklch(88.837% 0.0001 271.152 / 0.6);
      --md-tab-item-active-color: oklch(100% 0.00011 271.152);
      --md-tab-item-hover-color: oklch(91.308% 0.00145 285.298);
      --md-tab-item-disabled-color: oklch(93.403% 0.00011 271.152 / 0.3);

      --md-tab-md3-bg-color: oklch(43.41% 0.02 264.32deg);
      --md-tab-md3-indicator-active-color: var(--vp-c-brand); // oklch(94.621% 0.15503 108.256);
    }
  }
}
