@use 'sass:color';

// Scrollbar
//--------------------------------------------------------------------------
@media (min-width: 960px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: oklch(95.815% 0.00011 271.152);
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: oklch(70.576% 0.00008 271.152);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: oklch(44.953% 0.00005 271.152);
  }
}

// Colors
//--------------------------------------------------------------------------
:root {
  --vp-c-bg: var(--background);
  --vp-c-bg-1: oklch(94.514% 0.00011 271.152);
  --vp-c-brand-1: oklch(56.735% 0.20357 299.732);
  --vp-c-brand-2: oklch(40.161% 0.20077 299.764);
  --vp-c-brand-lighter: oklch(72.216% 0.14709 279.913);
  --vp-c-brand-lightest: oklch(82.68% 0.08848 281.446);
  --vp-c-brand-dark: oklch(55.732% 0.22213 274.278);
  --vp-c-brand-darker: oklch(50.981% 0.22117 273.354);
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
  --vp-c-mute: rgba(239, 239, 239, 0.8);
  --vp-c-yellow-soft: rgba(234, 179, 8, 0.1);
  --vp-code-tab-bg: oklch(94.5% 0.00104 11.251);
  --vp-code-block-bg: oklch(98.288% 0.00104 11.251);
  --vp-code-color: var(--bs-code-color);
  --vp-badge-tip-text: oklch(56.735% 0.20357 299.732);
}

// Component: Button
//--------------------------------------------------------------------------
:root {
  --vp-button-brand-border: var(--vp-c-brand-2);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-2);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: var(--vp-c-brand-2);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
  --vp-button-sponsor-bg: oklch(50.086% 0.19641 356.486 / 0.2);
  --vp-button-sponsor-border: oklch(49.378% 0.13495 350.069);
  --vp-button-sponsor-text: oklch(82.144% 0.10795 346.238);
  --vp-button-sponsor-hover-bg: oklch(53.027% 0.17883 352.266);
  --vp-button-sponsor-hover-border: oklch(53.027% 0.17883 352.266);
  --vp-button-sponsor-hover-text: oklch(92.562% 0.03741 345.104);
  --vp-button-alt-bg: transparent;
  --vp-button-alt-border: var(--vp-c-default-1);
  --vp-button-alt-hover-bg: oklch(38.239% 0.01871 281.345 / 0.5);
  --vp-button-alt-hover-border: oklch(63.343% 0.00007 271.152);
  --vp-button-alt-hover-text: oklch(91.171% 0.04233 282.576);
}

// Component: Home
//--------------------------------------------------------------------------
:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe 30%, #41d1ff);
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
  --vp-home-hero-image-filter: blur(40px);
  --doc-custom-text-1: oklch(99.729% 0.013 106.774 / 0.86);
  --doc-custom-text-2: oklch(94.297% 0.01349 286.028 / 0.6);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

// Component: Custom Block
//--------------------------------------------------------------------------
:root {
  --vp-code-line-height: 1.4;
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-dimm);
  --vp-custom-block-warning-border: oklch(72.82% 0.06904 94.341);
  --vp-custom-block-warning-code-bg: var(--vp-c-yellow-soft);
  --vp-custom-block-danger-border: oklch(72.777% 0.09092 8.907);
  --vp-custom-block-danger-code-bg: var(--vp-c-brand-dimm);
  --vp-custom-block-info-border: var(--vp-c-default-1);
  --vp-custom-block-info-code-bg: var(--vp-code-bg);
  --vp-custom-block-details-code-bg: var(--vp-code-bg);
  --vp-custom-block-note-border: oklch(85.058% 0.02773 283.476);
  --vp-custom-block-important-border: oklch(74.496% 0.0974 298.384);
  --vp-custom-block-caution-border: oklch(80.978% 0.06136 8.143);
  --doc-text-code-dt: oklch(74.594% 0.13347 43.748);
}

// Component: Algolia
//--------------------------------------------------------------------------
.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

// Overridden styles
//--------------------------------------------------------------------------
.vp-doc {
  h1 {
    font-size: calc(1.75rem + 1.15vw);
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 32px;

    @media (min-width: 992px) {
      font-size: calc(1.875rem + 1.35vw);
    }
  }

  h2 {
    font-size: calc(1.325rem + 0.9vw);
    font-weight: 500;
    margin: 48px 0 30px;
  }

  h3 {
    font-size: calc(0.89rem + 0.9vw);

    @media (min-width: 480px) {
      font-weight: 500;
    }

    @media (min-width: 1080px) {
      font-weight: 400;
    }
  }

  h4 {
    font-size: 21px;
  }

  .lead {
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.5;

    > p {
      line-height: 1.5;

      > a {
        font-weight: inherit;
      }

      > strong,
      > b {
        font-weight: 500;
      }
    }
  }

  a {
    text-decoration: underline dotted;
    text-underline-offset: 4px;

    &:hover {
      font-weight: 500;

      &.nav-link {
        text-decoration: none;
      }
    }
  }

  .list-group {
    --bs-list-group-bg: rgb(242, 245, 248);
    --bs-list-group-action-hover-bg: rgb(218, 223, 229);
    --bs-list-group-border-radius: 0.5rem;
    --bs-list-group-item-padding-y: 0.75rem;

    > .list-group-item-action {
      color: var(--bs-list-group-action-color);
      font-size: 15px;
      font-weight: normal;
      text-decoration: none;

      > h5 {
        color: var(--vp-c-text-1);
        font-size: 1.125rem;
        font-weight: 500;
      }

      &:hover {
        color: var(--bs-list-group-action-hover-color);
      }

      &:active {
        color: var(--bs-list-group-action-active-color);
      }
    }
  }

  .list-group-item {
    > .list-group {
      --bs-list-group-bg: #fff;
    }
  }

  .md-breadcrumb {
    > .breadcrumb {
      margin: 0;
      padding-left: 0;

      li + li {
        margin-top: 0;
      }
    }
  }
}

.VPSidebar {
  &.open {
    .nav {
      display: block;
    }
  }
}

.VPDocAsideOutline {
  ol,
  ul {
    padding-left: 0;
  }
}

.NotFound {
  .link {
    text-decoration: none;

    &:hover {
      background-color: var(--vp-c-brand-dimm);
      color: var(--vp-c-brand-darker);
      border-color: var(--vp-c-brand-darker);
    }
  }
}

.VPDoc,
.VPDocFooter,
.VPHome,
.VPNavBar,
.VPSidebarItem {
  .container {
    --bs-gutter-x: 0;
  }
}

.VPDoc,
.VPLocalNavOutlineDropdown {
  .outline-link,
  .top-link {
    text-decoration: none;
  }
}

.VPNavScreen {
  .VPNavScreenMenuLink {
    text-decoration: none;
  }
}

.VPNavBar,
.VPSidebarItem {
  .text {
    margin-bottom: 0;
  }
}

.VPHomeHero {
  .text {
    font-weight: 500;
    color: var(--doc-custom-text-1);
  }

  .tagline {
    color: var(--doc-custom-text-2);
  }
}

.VPFooter {
  .message,
  .copyright {
    color: var(--doc-custom-text-2);
    font-weight: 300;
    margin-bottom: 0;
  }
}

.VPSidebarItem {
  &.collapsible:not(.has-active) {
    > .item {
      > .text {
        color: var(--vp-c-text-2);
      }

      &:hover {
        > .text {
          color: var(--vp-c-brand);
        }
      }
    }
  }

  &:not(.is-active) {
    > .item {
      > .link {
        &:hover {
          > .text {
            color: var(--vp-c-brand);
          }
        }
      }
    }
  }
}

.dark {
  --background: oklch(0.24 0.01 262.8);
  --background-secondary: oklch(0.275 0.01 268.32);
  --background-tertiary: oklch(0.315 0.01 268.32);

  --vp-c-bg-soft: oklch(0.25 0.01 268.26);
  --vp-c-bg-1: oklch(21.699% 0.01205 270.848);
  --vp-c-brand-1: oklch(80.66% 0.13012 157.149);
  --vp-c-brand-2: oklch(66.067% 0.14121 154.501);
  --vp-c-brand-lighter: #{color.adjust(#621d62, $lightness: 45%)};
  --vp-c-divier: oklch(0.967 0.003 264.542 / 0.05);
  --vp-c-mute: oklch(31.512% 0.00886 285.829);

  --vp-badge-tip-text: oklch(74.026% 0.14797 303.034);
  --vp-button-brand-bg: oklch(41.518% 0.16053 355.669);
  --vp-button-brand-border: oklch(36.637% 0.13712 346.508);
  --vp-button-brand-hover-bg: oklch(50.086% 0.19641 356.486);
  --vp-button-brand-hover-border: oklch(50.086% 0.19641 356.486);
  --vp-button-alt-text: #{color.adjust(#fff, $lightness: -25%)};

  --vp-custom-block-tip-border: var(--vp-c-green-3);
  --vp-custom-block-tip-text: oklch(79.824% 0.13136 168.082);
  --vp-custom-block-tip-bg: var(--vp-c-green-soft);
  --vp-custom-block-tip-code-bg: oklch(69.588% 0.14907 162.508 / 0.1);
  --vp-custom-block-warning-border: oklch(55.658% 0.06497 93.846);
  --vp-custom-block-warning-code-bg: var(--vp-c-yellow-soft);
  --vp-custom-block-danger-border: var(--vp-c-red-3);
  --vp-custom-block-danger-code-bg: oklch(64.501% 0.21541 16.421 / 0.1);
  --vp-custom-block-note-border: oklch(35.52% 0.0096 260.77);
  --vp-custom-block-important-border: oklch(41.444% 0.04043 297.96);
  --vp-custom-block-caution-border: oklch(39.937% 0.05402 2.21);

  --vp-code-tab-bg: oklch(0.15 0 0);
  --vp-code-block-bg: oklch(20.105% 0.00397 285.961);
  --vp-code-color: oklch(80.897% 0.07286 276.847); // oklch(0.83 0.15 73.53); // oklch(92.222% 0.09589 193.243);
  
  @media (min-width: 960px) {
    ::-webkit-scrollbar-track {
      background: oklch(35.819% 0.0175 276.531);
    }

    ::-webkit-scrollbar-thumb {
      background: oklch(50.121% 0.01115 279.456);
    }

    ::-webkit-scrollbar-thumb:hover {
      background: oklch(70.699% 0.02091 273.122);
    }
  }

  .NotFound {
    .link {
      &:hover {
        color: var(--vp-c-brand-lighter);
        border-color: var(--vp-c-brand-lighter);
      }
    }
  }

  .vp-doc {
    .list-group {
      --bs-list-group-color: wheat;
      --bs-list-group-action-color: var(--vp-c-text-2);
      --bs-list-group-action-active-color: var(--vp-c-text-1);
      --bs-list-group-action-hover-color: var(--vp-c-text-1);
      --bs-list-group-action-hover-bg: rgba(30, 30, 34, 0.8);
      --bs-list-group-action-active-bg: rgb(21, 21, 21);
      --bs-list-group-border-color: rgba(160, 166, 179, 0.125);
      --bs-list-group-bg: rgba(51, 53, 61, 0.75);
    }

    .list-group-item {
      > .list-group {
        --bs-list-group-bg: rgba(62, 72, 78, 0.6);
      }
    }
  }
}

@media (min-width: 960px) {
  .light-mode {
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
      background: #a0a0a0;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}

// Independent styles, not themeable
//-----------------------------------
.VPHome {
  .heading {
    margin-bottom: 0.5rem;
  }

  .VPButton {
    &.medium {
      border-radius: 25px;
      font-size: 16px;
      font-weight: 500;
      line-height: 46px;
      padding: 0 24px;
      text-decoration: none;
    }
  }

  .VPFeature {
    background-color: oklch(27.424% 0.07257 297.563);
    border-color: oklch(27.424% 0.07257 297.563);
    position: relative;

    .title {
      font-size: 18px;
      margin-bottom: 0.5rem;
    }

    .details {
      color: var(--doc-custom-text-2);
      margin-bottom: 0;

      a {
        color: inherit;
      }
    }

    &:hover {
      position: relative;

      &:before {
        background: linear-gradient(
            45deg,
            oklch(63.89% 0.1916 262.085),
            oklch(71.591% 0.2031 346.311)
          )
          border-box;
        border: 2px solid transparent;
        border-radius: 12px;
        content: '';
        inset: 0;
        position: absolute;
        mask:
          linear-gradient(#fff 0 0) padding-box,
          linear-gradient(#fff 0 0);
        mask-composite: destination-out;
        -webkit-mask:
          linear-gradient(#fff 0 0) padding-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
      }
    }
  }
}

.vpdoc-home {
  --background: oklch(20.306% 0.05472 297.824);
  --vp-c-brand-2: oklch(53.94% 0.20624 355.182);

  .VPHomeHero {
    --doc-custom-text-2: oklch(95.297% 0.01349 286.028 / 0.75);
  }

  .VPNavBar {
    --vp-nav-bg-color: oklch(20.306% 0.05472 297.824);

    .VPNavBarAppearance {
      display: none;
    }
  }

  .VPFooter {
    --vp-c-gutter: oklch(0.26 0.05 301.65);
  }

  .sponsors {
    margin-top: 4rem;

    .btn-outline-warning {
      --md-btn-color: oklch(78.518% 0.1632 69.284 / 0.75);
      --md-btn-hover-bg: oklch(79.076% 0.16099 70.378 / 0.7);
      --md-btn-hover-color: white;
      --md-btn-active-bg: oklch(77.896% 0.17115 66.069 / 0.75);
      --md-btn-active-color: white;
      --vp-c-brand-1: var(--md-btn-color);
      --vp-c-brand-2: var(--md-btn-hover-color);
    }
  }
}
