/**
 * Colors
 * -------------------------------------------------------------------------- 
 */
:root {
  --vp-c-brand: #646cff;
  --vp-c-brand-light: #747bff;
  --vp-c-brand-lighter: #9499ff;
  --vp-c-brand-lightest: #bcc0ff;
  --vp-c-brand-dark: #535bf2;
  --vp-c-brand-darker: #454ce1;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
  --vp-c-mute: rgba(239, 239, 239, 0.8);
  --vp-c-yellow-dimm-2: rgba(234, 179, 8, 0.1);
  --vp-c-text-code: var(--bs-code-color);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- 
 */
:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- 
 */
:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe 30%, #41d1ff);
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- 
 */
:root {
  --vp-code-line-height: 1.4;
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-dimm);
  --vp-custom-block-warning-code-bg: var(--vp-c-yellow-dimm-2);
  --vp-custom-block-danger-code-bg: var(--vp-c-brand-dimm);
  --vp-custom-block-info-code-bg: var(--vp-c-code-dimm);
  --vp-custom-block-details-code-bg: var(--vp-c-code-dimm);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- 
 */
.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}

/**
 * Overridden styles
 * -------------------------------------------------------------------------- 
 */
.small {
  font-size: 81%;
}

.vp-doc {
  h1 {
    font-size: calc(1.75rem + 1.15vw);
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 32px;

    @media (min-width: 992px) {
      font-size: calc(1.875rem + 1.35vw);
    }
  }

  h2 {
    font-size: calc(1.325rem + 0.9vw);
    font-weight: 500;
  }

  h3 {
    font-size: calc(0.89rem + 0.9vw);

    @media (min-width: 480px) {
      font-weight: 500;
    }
  }

  .lead {
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.5;

    > p {
      line-height: 1.5;

      > a {
        font-weight: inherit;
      }

      > strong,
      > b {
        font-weight: 500;
      }
    }
  }

  a {
    &:hover {
      font-weight: 500;
      color: var(--vp-c-brand-darker);

      &.nav-link {
        text-decoration: none;
      }
    }
  }

  .custom-block {
    a {
      text-decoration: underline dotted;

      &:hover {
        font-weight: 600;
        text-decoration: underline;
      }
    }
  }

  .doc-example-container {
    .md-divider {
      &.divider--light {
        --md-divider-color: rgba(125, 125, 125, 0.75);
      }
    }
  }
}

.md-tabs {
  &.doc-api-reference {
    --md-tabs-content-padding: 0;
    margin: 3rem -1.5rem 0;

    .tab-pane {
      width: 100%;
    }

    .doc-table-responsive {
      display: block;
      width: 100%;
      overflow-x: auto;

      > table {
        display: table;
        width: 100%;
        margin-bottom: 8px;
      }
    }

    .doc-table-props,
    .doc-table-3cols,
    .doc-table-2cols {
      .badge {
        --bs-badge-border-radius: 0.275rem;
      }
      
      > table {
        td {
          &:first-child {
            white-space: nowrap;
          }
        }

        th,
        td {
          &:last-child {
            min-width: 250px;
          }
        }
      }
    }

    .doc-table-props {
      > table {
        td {
          &:nth-child(2),
          &:nth-child(3) {
            white-space: nowrap;

            > code {
              --vp-c-text-code: #f28f64;
              background-color: transparent;
            }
          }
        }
      }
    }

    .doc-table-3cols {
      > table {
        td {
          &:nth-child(2) {
            white-space: nowrap;

            > code {
              --vp-c-text-code: #f28f64;
              background-color: transparent;
            }
          }
        }
      }
    }

    @media (min-width: 590px) {
      margin: 3rem 0 0;

      > .nav {
        border-radius: var(--bs-border-radius-lg);
      }
    }
  }
}

.VPSidebar {
  &.open {
    .nav {
      display: block;
    }
  }
}

.VPDocAsideOutline {
  ol,
  ul {
    padding-left: 0;
  }
}

.NotFound {
  .link {
    &:hover {
      background-color: var(--vp-c-brand-dimm);
      color: var(--vp-c-brand-darker);
      border-color: var(--vp-c-brand-darker);
      text-decoration: none;
    }
  }
}

.dark {
  --vp-c-bg: #252529;
  --vp-c-bg-soft: #212121;
  --vp-c-brand: #c949c9;
  --vp-c-brand-light: #621d62;
  --vp-c-brand-lighter: #{lighten(#621d62, 40%)};
  --vp-c-mute: #313136;
  --vp-button-brand-bg: var(--vp-c-brand-light);
  --vp-button-brand-hover-bg: var(--vp-c-brand);
  --vp-button-alt-text: #{darken(#fff, 25%)};
  --vp-custom-block-tip-border: var(--vp-c-green-dark);
  --vp-custom-block-tip-text: var(--vp-c-green);
  --vp-custom-block-tip-bg: var(--vp-c-green-dimm-1);
  --vp-custom-block-tip-code-bg: rgba(16, 185, 129, 0.1); // var(--vp-c-green-dimm-2);
  --vp-custom-block-warning-code-bg: var(--vp-c-yellow-dimm-2);
  --vp-custom-block-danger-border: var(--vp-c-red-dark);
  --vp-custom-block-danger-code-bg: rgba(244, 63, 94, 0.1);
  --vp-custom-block-info-code-bg: var(--vp-c-mute-light);
  --vp-custom-block-details-code-bg: var(--vp-c-mute-light);
  --vp-c-text-code: var(--vp-text-mute);
  --doc-example-border-color: #484848;
  --doc-example-toolbar-bg: #242424;
  --doc-example-content-bg: #1c1d1e;

  .NotFound {
    .link {
      &:hover {
        color: var(--vp-c-brand-lighter);
        border-color: var(--vp-c-brand-lighter);
      }
    }
  }

  .vp-doc {
    a {
      &:hover {
        color: var(--vp-c-brand-lighter);
      }
    }

    .custom-block {
      a {
        text-decoration: underline dotted;

        &:hover {
          color: inherit;
          // font-weight: 600;
          text-decoration: underline;
        }
      }
    }
  }
}

body {
  font-family: var(--vp-font-family-base);
  font-size: 1rem;
  font-weight: 400;
  color: var(--vp-c-text-1);
  background-color: var(--vp-c-bg);

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.VPDoc,
.VPDocFooter,
.VPHome,
.VPNavBar,
.VPSidebarItem {
  .container {
    --bs-gutter-x: 0;
  }
}

.VPDocFooter,
.VPNavBar,
.VPSidebarItem {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  .text {
    margin-bottom: 0;
  }
}

#app {
  --doc-custom-text-1: rgba(255, 255, 245, 0.86);
  --doc-custom-text-2: rgba(235, 235, 245, 0.6);

  .VPHomeHero {
    .text {
      font-weight: 500;
      color: var(--doc-custom-text-1);
    }

    .tagline {
      color: var(--doc-custom-text-2);
    }
  }

  .VPDoc {
    &.has-sidebar {
      overflow-x: hidden;
    }
  }

  .VPFooter {
    background-color: darken(#1e1134, 4%);

    .message,
    .copyright {
      color: var(--doc-custom-text-2);
      font-weight: 300;
      margin-bottom: 0;
    }
  }

  .VPSidebarItem {
    &:not(.is-active) {
      > .item {
        > .link {
          &:hover {
            > .text {
              color: var(--vp-c-brand-lighter);
            }
          }
        }
      }
    }
  }

  .VPBadge {
    font-weight: 500;
  }
}

/**
 * Independent styles, not themeable
 * -------------------------------------------------------------------------- 
 */
.VPHome {
  background-color: #1e1134;

  .VPButton {
    &.medium {
      border-radius: 25px;
      font-size: 16px;
      font-weight: 500;
      line-height: 46px;
      padding: 0 24px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .VPFeature {
    background-color: #2e1848;
    border-color: #2e1848;
    position: relative;

    .title {
      color: var(--doc-custom-text-1);
    }

    .details {
      color: var(--doc-custom-text-2);
      margin-bottom: 0;

      a {
        color: inherit;
      }
    }

    &:hover {
      position: relative;

      &:before {
        background: linear-gradient(45deg, #4785fe, #f864bd) border-box;
        border: 2px solid transparent;
        border-radius: 12px;
        content: '';
        inset: 0;
        // mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        // mask-composite: destination-out;
        -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        position: absolute;
      }
    }
  }
}
